<%= form_tag search_path, method: :get, class: "search" do %>
  <div class="search-box">
    <%= text_field_tag :query, nil, placeholder: "Search term here...", maxlength: 250 %>
  </div>

  <div class="drop-down-menu">
    <%= select_tag(:duration, 
        options_for_select([
          ['Any', 0],
          ['90 Minutes or Less', 1],
          ['Between 90 and 120 Minutes', 2],
          ['Over 120 Minutes', 3]
        ])
    ) %>
  </div>

  <div class="submit"><%= submit_tag "Search", name: nil %></div>
  
<% end %>
